.flashy {
  color:#4b0bc1;
  font-style: italic;
  font-weight: bold;
  font-family: Verdana;
}
.best {
  border-style: solid;
  border-width: medium;
  border-color: red;
  max-width: 15%;
  float:center;
}
.div {
  font-style: italic;
  font-size: 30px;
}
.span {
  font-weight: bold;
  color: red;
}
h1 {
  font-size: 100px;
  font-family: monospace;
  color: pink;
  text-shadow: 2px 2px black;
}
h3 {
  text-decoration: underline;
  font-size: 50px;
  font-family: monospace;
}
.column {
  float: left;
  width: 35%;
}
.sidebar {
float:right;
width: 30%;
background-color: yellow;
border: solid;
padding: 10px;
border-color: black;
margin: 5px;
}

.flavors{
  margin-top: 150px;
  float: left;
width: 100%;
}

.image{
  float: left;
}

img {
  padding: 10px;
  max-width: 20%
}
div ol li {
  margin-left: 40px;
  font-size: 50px;
  color: green;
}
div ol p {
  margin-bottom: 240px;
}
